.combo {
  border: 1px solid #dddddd;
  position: relative;
}
.combo .text {
  cursor: pointer;
  background: #FFFFFF;
  padding-left: 15px;
  height: 45px;
}
.combo .icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: #f1f1f1 url("../img/common/dropDown.png") no-repeat center center;
}
.combo .optionList {
  font-size: 16px;
  position: absolute;
  z-index: 1;
  height: 0;
  left: -1px;
  letter-spacing: normal;
  width: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  -webkit-transition: height ease-in 0.3s;
  -moz-transition: height ease-in 0.3s;
  -ms-transition: height ease-in 0.3s;
  -o-transition: height ease-in 0.3s;
  transition: height ease-in 0.3s;
}
.combo ul {
  background: #fff;
  list-style: none;
  padding: 10px 0;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  height: 95px;
}
.combo li {
  padding-left: 15px;
  cursor: pointer;
}
.combo li:hover {
  color: #e80c0a;
}
.combo.active .icon {
  background-image: url("../img/common/dropUp.png");
}
.combo.active .optionList {
  height: 115px;
  border: 1px solid #ddd;
}
.banner {
  height: 450px;
  width: 100%;
  overflow: hidden;
}
.slider {
  height: 100%;
  position: relative;
}
.slider .sliderItem {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  z-index: 0;
}
.slider .sliderItem.active {
  opacity: 1;
  z-index: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
}
.slider .sliderItem img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.slider .sliderControl {
  position: absolute;
  bottom: 22px;
  width: 100%;
  text-align: center;
  z-index: -1;
}
.slider .sliderControl .item {
  height: 16px;
  width: 16px;
  background: #878787;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 6px;
  cursor: pointer;
}
.slider .sliderControl .item.active {
  background: #e80c0a;
}
.bannerContent {
  position: relative;
  z-index: 1;
}
.bannerContent .kindNav {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  padding: 13px 14px;
}
.bannerContent .kindNav .group {
  border-bottom: 1px solid #1e1e1e;
}
.bannerContent .kindNav .group.noborder {
  border: 0;
}
.bannerContent .kindNav .title {
  color: #a1a1a1;
  padding: 6px 0;
  font-size: 14px;
}
.bannerContent .kindNav .item {
  font-size: 14px;
  padding: 7px 0;
}
.bannerContent .kindNav .item a {
  color: #fff;
}
.bannerContent .kindNav .item a:hover {
  color: #e80c0a;
}
.bannerContent .kindNav .row4 .item {
  width: 25%;
}
.bannerContent .kindNav .row3 .item {
  width: 33.333%;
}
.bannerContent .right {
  float: right;
  margin-top: 100px;
}
.bannerContent .right .item {
  width: 190px;
  height: 65px;
  background: #e80c0a;
  background: rgba(232, 12, 10, 0.8);
  color: #ffffff;
  line-height: 65px;
  margin-bottom: 15px;
}
.bannerContent .right .icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 15px 15px 0 15px;
  vertical-align: top;
  background: url("../img/common/icons.png") no-repeat;
}
.bannerContent .right .auth .icon {
  background-position: 0 0;
}
.bannerContent .right .check .icon {
  background-position: -35px 0;
}
.bannerContent .right .source .icon {
  background-position: -70px 0;
}
.searchForm {
  height: 60px;
  margin-top: 40px;
  padding: 5px 0;
}
.searchForm > .dib {
  margin-left: 15px;
}
.searchForm .img {
  margin: -5px 0;
}
.searchForm .brand .text,
.searchForm .car .text {
  width: 190px;
  padding-left: 15px;
  line-height: 45px;
  font-size: 18px;
}
.searchForm .mobile input {
  font-size: 18px;
  line-height: 43px;
  padding: 0 0 0 15px;
  height: 43px;
}
.searchForm .button {
  background: #e80c0a;
  color: #fff;
  line-height: 45px;
  width: 120px;
  text-align: center;
}
.authSection {
  background: #f7f7f7;
  padding: 15px 0 20px;
}
.qualitySection {
  background: #ececec;
  padding: 15px 0 20px;
}
.floor {
  height: 580px;
  background: #fff;
}
.floor.auth {
  border-top: 1px solid #e80c0a;
}
.floor.auth .title {
  background: #e80c0a;
  color: #fff;
}
.floor.quality {
  border-top: 1px solid #333;
}
.floor.quality .title {
  background: #333;
  color: #fff;
}
.floor .left {
  background: #ececec no-repeat bottom;
  height: 100%;
}
.floor .title {
  -webkit-border-radius: 5px 0 0;
  -moz-border-radius: 5px 0 0;
  border-radius: 5px 0 0;
  font-size: 20px;
  line-height: 49px;
  padding-left: 15px;
}
.floor .title a {
  font-size: 12px;
  float: right;
  margin-right: 7px;
  color: #fff;
}
.floor .content {
  padding-top: 50px;
}
.floor .content .img {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  background: url("../img/common/icons.png") no-repeat 0 -45px;
  vertical-align: middle;
}
.floor .content .text {
  vertical-align: middle;
  margin-left: 15px;
}
.floor .content .text p {
  font-size: 14px;
  color: #878787;
  margin: 0;
  text-align: center;
}
.floor .cars {
  margin-left: 10px;
}
.floor .cars .item {
  position: relative;
  margin-bottom: 24px;
}
.floor .cars .item:hover .car {
  border-color: #e80c0a;
}
.floor .cars .item:hover .connect {
  display: block;
}
.floor .cars .fr {
  float: right;
}
.floor .cars .car {
  border: 3px solid transparent;
  padding: 0px 15px 15px;
}
.floor .cars .car img {
  max-height: 180px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.floor .cars .car .carName {
  font-size: 14px;
  color: #333;
}
.floor .cars .car .carPrice {
  color: #e80c0a;
  font-weight: bold;
  margin: 4px 0;
}
.floor .cars .car .carDesc {
  font-size: 12px;
  color: #a1a1a1;
}
.floor .cars .connect {
  display: none;
  background: #e80c0a;
  position: absolute;
  color: #fff;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  left: 0;
  z-index: 1;
}
.floor .cars .connect .fr {
  font-size: 12px;
  margin-right: 8px;
}
.floor .cars .connect .mobile {
  margin-left: 15px;
}
.floor .right {
  background: #f2f2f2 no-repeat bottom;
  height: 100%;
  margin-left: 10px;
}
.floor .right .stores {
  margin-top: 20px;
}
.floor .right .stores .store {
  background: #fff;
  color: #333;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 12px;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  margin: 3px;
}
.floor .right .stores .store:hover {
  background: #e80c0a;
  color: #fff;
}
