body,
html {
    min-height: 100%;
    height: 100%
}

body {
    color: #252825;
    background-color: #f5f5f5
}

body,
button,
input,
select,
textarea {
    font: 14px/1.5 helvetica neue, tahoma, arial, hiragino sans gb, microsoft yahei, sans-serif
}

h1,
h3,
strong {
    font-weight: 400
}

.mask {
    background-color: rgba(0, 0, 0, .7)
}

.mask4 {
    background-color: rgba(0, 0, 0, .4)
}

.mask7 {
    background-color: rgba(0, 0, 0, .7)
}

.mask8 {
    background-color: rgba(0, 0, 0, .8)
}

a {
    color: #666
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    background-color: transparent;
    box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #505050
}

button:focus,
input:focus,
textarea:focus {
    outline: 0 none
}

::-webkit-input-placeholder {
    color: #999
}

.box-size {
    width: 100%;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.rel {
    position: relative
}

.filter-main,
.line-list .mod-list,
.subscribe-form,
.subscribe-wrap .mod-list {
    padding-left: 15px;
    background-color: #fff
}

.line-list .mod-list {
    padding-right: 15px
}

.around-remote:after,
.around-tit:before,
.car-price-sell:before,
.collection li:first-of-type span i,
.collection li:last-child span i,
.icon-car,
.icon-column:before,
.icon-home:before,
.icon-line:before,
.icon-multicolor,
.icon-other,
.icon-reset:before,
.icon-totel:before,
.icon-totop:before,
.iconbg,
.iconcollect,
.lines,
.nav-item:after,
.nav-subscribe:before,
.subs-notip:before,
.swich-three i {
    background: url(//sta.guazistatic.com/c2c_wap/iconbg.3f9c3ad098d4511e7161cce61a3b0ae1.png) no-repeat;
    background-size: 210px auto
}

.bg-shadow {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background: rgba(0, 0, 0, .5)
}

.bg-shadow,
.btn {
    color: #fff;
    text-align: center
}

.btn {
    display: inline-block;
    height: 37px;
    font-size: 16px;
    line-height: 37px;
    background-color: #22ac38;
    border: none;
    border-radius: 2px;
    box-sizing: inherit
}

.icon-column,
.icon-home,
.icon-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    text-indent: -100px;
    overflow: hidden
}

.icon-home {
    width: 52px
}

.icon-home:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 15px;
    width: 23px;
    height: 22px;
    background-position: 0 0
}

.icon-column,
.icon-line {
    left: inherit;
    right: 32px;
    width: 50px
}

.usericon {
    right: 10px
}

.icon-column:before,
.icon-line:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-position: -28px 0
}

.icon-column:before {
    background-position: -53px 0
}

.filter-wrap {
    padding-bottom: 59px
}

.banbox-ps {
    display: block;
    position: relative
}

.list>.banbox-ps {
    margin-left: -15px
}

.banbox-ps img {
    display: block;
    width: 100%
}

.closed-btn {
    border-radius: 0 0 0 25px;
    background: rgba(0, 0, 0, .3);
    width: 25px;
    height: 25px
}

.closed-btn,
.closed-btn .guide-close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.closed-btn .guide-close {
    width: 30px;
    height: 30px;
    text-indent: -999px;
    overflow: hidden
}

.closed-btn .guide-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.closed-btn .guide-close:after,
.closed-btn .guide-close:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 20px;
    width: 1px;
    height: 18px;
    background: none;
    background-color: #fff;
    z-index: 10
}

.closed-btn .guide-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.filter,
.filter-nav {
    position: relative
}

.filter-nav {
    z-index: 100;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 41px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0
}

.filter-nav a {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 41px;
    color: #333;
    text-align: center
}

.nav-item:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align: middle;
    margin-left: 4px;
    background-position: -145px -48px
}

.nav-item.active {
    color: #22ac38
}

.nav-item.active:after {
    background-position: -151px -48px
}

.filter-nav .nav-item-sell {
    height: 23px;
    margin-top: 8px;
    padding: 0 6px;
    line-height: 23px;
    border: 1px solid #e5e5e5;
    border-radius: 15px
}

.filter-nav .nav-item-sell i {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: -1px;
    margin-right: 4px;
    background-color: #e5e5e5;
    border-radius: 50%
}

.filter-nav .nav-item-sell i:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.filter-nav .nav-item-sell.active {
    border-color: #ccc;
    color: #22ac38
}

.filter-nav .nav-item-sell.active i {
    background-color: #22ac38
}

.filter-box {
    display: none;
    background-color: #fff
}

.filter-box.active {
    display: block
}

#filter-price,
#filter-rank {
    position: relative;
    width: 100%;
    z-index: 100
}

#filter-rank {
    box-sizing: border-box
}

.icon-rank1,
.icon-rank2,
.icon-rank3,
.icon-rank4,
.icon-rank5,
.icon-rank6 {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: -2px
}

.icon-rank1 {
    background-position: 0 -28px
}

.icon-rank2 {
    background-position: -30px -28px
}

.icon-rank3 {
    background-position: -60px -28px
}

.icon-rank4 {
    background-position: -90px -28px
}

.icon-rank5 {
    background-position: -120px -28px
}

.icon-rank6 {
    background-position: -150px -28px
}

#filter-rank {
    padding-left: 15px
}

#filter-rank a {
    color: #252825
}

#filter-rank .active a {
    color: #22ac38
}

#filter-rank .active a:after {
    content: "";
    float: right;
    width: 14px;
    height: 6px;
    margin-top: 16px;
    margin-right: 15px;
    border-bottom: 1px solid #22ac38;
    border-left: 1px solid #22ac38;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#filter-rank .active .icon-rank1 {
    background-position: -15px -28px
}

#filter-rank .active .icon-rank2 {
    background-position: -45px -28px
}

#filter-rank .active .icon-rank3 {
    background-position: -75px -28px
}

#filter-rank .active .icon-rank4 {
    background-position: -105px -28px
}

#filter-rank .active .icon-rank5 {
    background-position: -135px -28px
}

#filter-rank .active .icon-rank6 {
    background-position: -165px -28px
}

#filter-price .range-title {
    padding: 0 15px
}

#filter-price .range-box {
    margin: 0 40px;
    padding: 32px 0 12px
}

#filter-price .range-box .load-zero {
    bottom: 12px
}

#filter-price .lab-list {
    padding: 0 9px
}

#filter-price .lab-list li {
    margin-top: 12px;
    padding: 0 6px
}

.filter-result {
    padding: 10px 75px 2px 15px;
    overflow: hidden
}

.column-list .filter-result {
    padding-top: 2px;
    padding-bottom: 10px
}

.column-list .filter-result li {
    margin: 8px 8px 0 0
}

.orient-list {
    overflow-x: auto;
    overflow-y: hidden
}

.orient-list .mod-tags {
    display: -webkit-box;
    display: box
}

.orient-list .mod-tags li {
    display: block;
    float: none;
    margin-bottom: 0
}

.mod-tags .btn-reset {
    width: 40px;
    height: 24px;
    margin: 0 8px 8px 0;
    padding: 0;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5
}

.nav-subscribe {
    float: right;
    width: 58px;
    margin-right: -60px;
    font-size: 12px;
    line-height: 24px;
    color: #495056;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 2px;
    text-align: center
}

.nav-subscribe:before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 15px;
    margin-right: 5px;
    vertical-align: -3px;
    background-position: -15px -48px
}

.nav-subscribe:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 1px;
    height: 20px;
    background-color: #e6e6e6
}

.icon-reset {
    display: block;
    font-size: 12px;
    color: #888;
    background: none;
    border: none
}

.icon-reset:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    vertical-align: -2px;
    background-position: 0 -48px
}

.column-list .filter-result .nav-subscribe {
    margin-top: 9px
}

.loading {
    display: none;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    color: #999;
    text-align: center
}

.loading.active {
    display: block
}

.icon-load01 {
    width: 59px;
    height: 19px;
    vertical-align: -4px;
    background: url(//sta.guazistatic.com/c2c_wap/icon-load.8f57a20d0f1d9ffc95ec51cd219cb41e.gif) no-repeat;
    background-size: 59px auto
}

.icon-load01,
.icon-load02 {
    display: inline-block;
    margin-right: 5px
}

.icon-load02 {
    width: 23px;
    height: 23px;
    vertical-align: -7px;
    background-position: -100px 0;
    -webkit-animation: loadrotate 2s infinite linear;
    animation: loadrotate 2s infinite linear
}

@-webkit-keyframes loadrotate {
    0% {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes loadrotate {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

.column-list,
.line-list {
    padding-bottom: 70px
}

.column-list-fixed {
    padding-top: 86px
}

.column-list-fixed .heading {
    position: fixed;
    top: 0
}

.column-list-fixed .filter-nav {
    position: fixed;
    top: 44px
}

.column-list-fixed #filter-price,
.column-list-fixed #filter-rank {
    position: fixed;
    top: 85px
}

.find-num {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    background: rgba(0, 0, 0, .7)
}

.page-fixed {
    position: fixed;
    left: 50%;
    bottom: 60px;
    z-index: 18;
    width: 50px;
    margin-left: -25px;
    border-radius: 10px
}

.find-num.active,
.page-fixed.active {
    display: block
}

.column-list .mod-list .list {
    margin: 0 10px
}

.column-list .list-item {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1)
}

.line-list .car-info {
    position: relative;
    min-height: 80px;
    overflow: hidden;
    padding-right: 0
}

.column-list .car-info {
    margin-bottom: 15px;
    padding: 0 0 15px;
    border-bottom: none
}

.column-list .car-img {
    float: none;
    width: 100%;
    height: auto
}

.column-list .tag-new {
    top: -3px;
    left: -3px;
    width: 55px;
    height: 56px;
    background-position: -109px 0
}

.line-list .car-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 15px;
    min-height: 32px
}

.car-price strong {
    color: #f56539;
    padding-right: 5px
}

.car-price .fr {
    font-size: 12px;
    line-height: 14px;
    color: #757f89;
    position: absolute;
    right: 0;
    bottom: 0
}

.line-list .car-price {
    margin-top: 6px;
    position: relative
}

.line-list .car-price strong {
    margin-top: 2px
}

.car-price-sell {
    margin-top: 12px;
    margin-bottom: -5px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 11px;
    color: #757f8a;
    border-top: 1px solid #f5f5f5
}

.column-list .car-price-sell {
    margin: 12px 15px -5px
}

.car-price-sell:before {
    content: "";
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    background-position: -133px -48px
}

.car-price-sell span {
    color: #f56539
}

.column-list .car-name {
    padding: 16px 15px 2px;
    font-size: 18px;
    white-space: nowrap;
    display: inherit
}

.column-list .car-km {
    padding: 2px 15px 0;
    font-size: 14px
}

.column-list .car-km .label-pbox {
    margin-top: 3px
}

.column-list .car-price .fr {
    font-size: 14px;
    right: 15px;
    top: 2px
}

.line-list .car-km {
    margin-top: 4px
}

.column-list .car-price {
    padding: 0 15px;
    margin-left: 0;
    position: relative;
    height: 20px
}

.car-km {
    color: #757f89
}

.column-list .car-price .finance-price {
    font-size: 20px;
    line-height: 18px;
    margin-right: 0
}

.column-list .car-price strong {
    font-size: 21px;
    margin: 0
}

.column-list .car-price .index-price {
    font-size: 14px;
    margin: 4px 0 0 3px;
    line-height: 16px;
    vertical-align: bottom
}

.car-info {
    padding-left: 130px
}

.line-list .car-img {
    margin-left: -130px
}

.car-price .fc-ac {
    margin-top: 3px;
    color: #bec6ce;
    font-size: 11px;
    display: inline-block;
    line-height: 18px;
    vertical-align: bottom
}

.car-price .fc-ac .text-line,
.finance-price2 span {
    text-decoration: line-through
}

.car-price .finance-price {
    float: left;
    font-size: 16px;
    line-height: 16px;
    color: #f56539;
    margin-top: 3px;
    margin-right: 8px
}

.car-price .index-price {
    color: #f56539;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
    margin-top: 5px;
    display: inline-block
}

.label-pbox {
    height: 16px
}

.label-pbox span {
    margin: 0 4px 0 0
}

.car-price .label-pbox span {
    margin-top: 4px
}

.label-pbox {
    padding-top: 5px
}

.label-pbox span {
    float: left
}

.column-list .label-pbox {
    padding-left: 15px
}

.line-list .label-pbox {
    margin-bottom: -1px
}

.car-km .label-pbox {
    padding-top: 0
}

.car-km .label-pbox span {
    margin: 0 0 0 4px
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden
}

.slider-pics {
    display: -webkit-box;
    display: -ms-box;
    display: box
}

.slider-pics li {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    overflow: hidden
}

.slider-pics li img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%
}

.slider-icon {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 6px;
    font-size: 0;
    text-align: center
}

.slider-icon i {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border-radius: 50%;
    background: hsla(0, 0%, 100%, .5)
}

.slider-icon .active {
    background: #fff
}

.slider-more {
    position: absolute;
    right: 8px;
    top: 50%;
    z-index: 4;
    width: 14px;
    height: 160px;
    margin-top: -80px;
    font-size: 12px;
    color: #fff
}

.slider-more i {
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
    border: 1px solid #fff;
    border-radius: 50%
}

.slider-more i:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    margin-top: 2px;
    margin-left: 4px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.subscribe {
    position: relative;
    padding: 0 103px 8px 15px;
    background-color: #fff
}

.column-list .subscribe {
    margin: 0 15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1)
}

.subscribe .orient-list {
    height: 42px
}

.subscribe .orient-list .mod-tags {
    margin-top: 6px
}

.subs-tit {
    height: 40px;
    margin-right: -103px;
    line-height: 40px;
    color: #606060
}

.subs-btn {
    position: absolute;
    top: 40px;
    right: 15px
}

.subs-btn .btn {
    width: 87px
}

.relate .orient-list {
    height: 96px;
    margin-left: 15px
}

.column-list .relate {
    margin: 0 15px
}

.column-list .relate .orient-list {
    margin-left: 0
}

.relate .orient-list .mod-tags li {
    width: 100px;
    height: 88px;
    margin-right: 10px;
    padding: 0;
    border: none
}

.rela-info {
    display: block;
    height: 78px;
    padding: 5px 5px 0;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.rela-info img {
    display: block;
    width: 75px;
    height: 50px;
    margin: 5px auto 0
}

.relate-tit {
    height: 39px;
    font-size: 15px;
    line-height: 39px;
    text-align: center
}

.relate-tit span {
    display: inline-block;
    width: 56px;
    height: 1px;
    vertical-align: 4px
}

.relate-tit span:first-of-type {
    margin-right: 12px;
    background-image: linear-gradient(270deg, #e6e6e6, hsla(0, 0%, 90%, 0))
}

.relate-tit span:last-of-type {
    margin-left: 12px;
    background-image: linear-gradient(90deg, #e6e6e6, hsla(0, 0%, 90%, 0))
}

.around {
    margin-top: 7px;
    background-color: #fff
}

.column-list .around {
    margin: 7px 15px 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1)
}

.around .orient-list {
    clear: both;
    height: 41px;
    margin-left: 15px
}

.around-tit {
    height: 47px;
    padding-left: 15px;
    font-size: 15px;
    line-height: 47px
}

.around-tit:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 17px;
    margin-right: 7px;
    vertical-align: -2px;
    background-position: -174px 0
}

.around-remote {
    margin-top: 14px;
    margin-right: 15px;
    font-size: 12px;
    color: gray
}

.around-remote:after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    vertical-align: -2px;
    background-position: -45px -48px
}

.around-tit2 {
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 12px;
    color: gray;
    border-bottom: 1px solid #e6e6e6
}

.fixed-icon {
    position: fixed;
    right: 15px;
    bottom: 62px;
    z-index: 9
}

.icon-tosell,
.icon-totel,
.icon-totop {
    display: block;
    width: 44px;
    margin-top: 25px;
    color: #fff;
    text-align: center;
    border-radius: 50%
}

.icon-totel {
    height: 40px;
    padding-top: 4px;
    font-size: 12px;
    background-color: #ff7e00
}

.icon-totel:before {
    content: "";
    display: block;
    width: 17px;
    height: 18px;
    margin: 0 auto;
    background-position: -128px 0
}

.icon-tosell {
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    background-color: #ffae13
}

.icon-tosell:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.icon-totop {
    width: 42px;
    height: 42px;
    background-color: #fff;
    border: 1px solid #9a9a9a
}

.icon-totop:before {
    content: "";
    display: block;
    width: 19px;
    height: 23px;
    margin: 11px auto 0;
    background-position: -150px 0
}

.filter-main .filter-section:nth-child(4),
.filter-main .filter-section:nth-child(5),
.filter-main .filter-section:nth-child(6) {
    border-bottom: 1px solid #e6e6e6
}

.filter-section>.subtit {
    padding: 15px 0 0;
    font-size: 16px
}

.filter-section>.lab-list {
    padding: 0 5px 20px 0;
    border-bottom: 1px solid #e6e6e6
}

.filter-section:last-child>.lab-list {
    border-bottom: none
}

.filter-section>.lab-list>li {
    padding: 0 10px 0 0
}

.type-car {
    width: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box
}

.type-car>li {
    float: left;
    width: 33.3%;
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box
}

.type-car>li:first-child,
.type-car>li:nth-child(4) {
    padding-left: 0
}

.type-car>li>.downbox>a,
.type-car>li>a {
    display: block;
    height: 57px;
    padding-top: 5px;
    color: #404040;
    border: 1px solid #fff;
    border-radius: 2px
}

.type-car>li.active>.downbox>a,
.type-car>li.active>a {
    color: #22ac38;
    background-color: #f1fff3;
    border: 1px solid #22ac38
}

.downbox {
    position: relative;
    width: 100%
}

.csuv-box {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 99;
    display: none;
    width: 345px;
    height: 106px;
    background-color: #fff;
    border-radius: 2px
}

@media screen and (max-width:374px) {
    .csuv-box {
        width: 290px
    }
}

.csuv-box.active {
    display: block
}

.csuv-box:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 36px;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff
}

.csuv-box .lab-list {
    padding: 2px 7px 0
}

.icon-car {
    display: block;
    width: 70px;
    height: 27px;
    margin: 0 auto 5px
}

.icon-ctwo {
    background-position: 0 -65px
}

.icon-cthree {
    background-position: -70px -65px
}

.icon-crun {
    background-position: -140px -65px
}

.icon-csuv {
    background-position: 0 -94px
}

.icon-cmpv {
    background-position: -70px -94px
}

.icon-cmbc {
    background-position: -140px -94px
}

.icon-cpk {
    background-position: 0 -124px
}

.icon-color {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    vertical-align: -2px;
    border-radius: 50%
}

.icon-black {
    background-color: #232323
}

.icon-grey {
    background-color: #dfe1de
}

.icon-grey2 {
    background-color: #707070
}

.icon-red {
    background-color: #ff5350
}

.icon-orange {
    background-color: #ffa13f
}

.icon-green {
    background-color: #87e869
}

.icon-blue {
    background-color: #4ec1ff
}

.icon-brown {
    background-color: #99691f
}

.icon-purple {
    background-color: #d584e9
}

.icon-champagne {
    background-color: #ead795
}

.icon-yellow {
    background-color: #ffd943
}

.icon-multicolor {
    background-position: -60px -48px
}

.icon-white {
    background-color: #fff
}

.icon-other,
.icon-white {
    width: 12px;
    height: 12px;
    border: 1px solid #e1e1e1
}

.icon-other {
    background-position: -78px -48px
}

.subscribe-box {
    height: 278px;
    margin-top: 6px;
    background-color: #fff
}

.sube-no {
    padding-top: 50px;
    font-size: 12px;
    text-align: center
}

.sube-no:before {
    content: "";
    display: block;
    width: 95px;
    height: 95px;
    margin: 0 auto 4px;
    background: url(../../images/icon_status_nothing.gif) no-repeat;
    background-size: 95px auto
}

.sube-btn {
    padding-top: 25px;
    font-size: 0;
    text-align: center
}

.sube-btn .btn {
    width: 96px;
    height: 30px;
    margin: 0 5px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #22ac38
}

.sube-btn .btn-more {
    color: #22ac38;
    background-color: #fff
}

.subscribe-form .filter-section .range-box,
.subscribe-form .filter-section .type-car {
    display: none
}

.subscribe-form .filter-section.active .range-box,
.subscribe-form .filter-section.active .type-car {
    display: block
}

.subscribe-form .filter-section.active {
    border-bottom: 1px solid #e6e6e6
}

.subscribe-form .filter-section.active .type-car {
    border-bottom: none
}

.subscribe-form .filter-section .range-title {
    position: relative;
    display: block;
    padding-right: 30px;
    color: #252825;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden
}

.subscribe-form .filter-section .range-title:after {
    content: "";
    position: absolute;
    top: 19px;
    right: 15px;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #acacac;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.subscribe-form .filter-section.active .range-title {
    border-bottom: 1px solid #fff
}

.subscribe-form .filter-section.active .range-title:after {
    top: 24px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.subscribe-form .filter-subslist .range-title {
    padding-right: 25px
}

.subscribe-form .filter-subslist .range-title:after {
    top: 22px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.subscribe-form .filter-section .type-car {
    padding-bottom: 0
}

.subscribe-form .filter-section .type-car>li {
    margin-top: 0;
    margin-bottom: 10px
}

.form-btn {
    padding: 15px;
    background-color: #fff
}

.form-btn .btn {
    display: block
}

.subs-notip {
    padding: 12px 0;
    font-size: 12px;
    color: #a0a0a0;
    text-align: center
}

.subs-notip:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: -1px;
    background-position: -116px -48px
}

.toast {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    width: 64%;
    height: 34px;
    margin-left: -32%;
    margin-top: -17px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    line-height: 34px;
    text-align: center;
    border-radius: 5px
}

.toast.active {
    display: block
}

.collection {
    background-image: url(../../images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70px;
    width: 100%;
    height: 55px;
    padding-top: 15px
}

.collection ul {
    background-color: transparent
}

.collection li {
    width: 50%;
    float: left;
    height: 40px;
    text-align: center;
    color: #000
}

.collection li a {
    padding: 0 30px 0 15px;
    display: block
}

.collection li:first-child a {
    padding: 0 15px 0 30px
}

.collection li a span {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px
}

.collection li:first-of-type span i,
.collection li:last-child span i {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.collection li:first-of-type span i {
    background-position: 0 -155px
}

.collection li:last-child span i {
    background-position: 0 -206px;
    margin-right: 2px
}

@media screen and (max-width:320px) {
    .collection li a {
        padding: 0 20px 0 10px
    }
    .collection li:first-child a {
        padding: 0 10px 0 20px
    }
}

.poptips01 {
    display: none;
    position: fixed;
    z-index: 300;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 230px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    line-height: 30px
}

.poptips01.active {
    display: block
}

.iconcollect {
    width: 20px;
    height: 27px;
    background-position: -22px -155px;
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle
}

.lines {
    background-position: -177px -125px;
    width: 32px;
    height: 103px;
    display: block;
    margin: 0 auto
}

.btnknow {
    background-color: #fff;
    display: inline-block;
    color: #000;
    padding: 0 15px;
    line-height: 25px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px
}

.mask-list.active {
    z-index: 100
}

.list-finance-adver {
    margin-left: -15px
}

.list-finance-adver a,
.list-finance-adver img {
    display: block;
    width: 100%
}

.column-list .list-finance-adver {
    margin-right: -15px;
    margin-bottom: 15px
}

.advertising {
    display: none
}

.advertising.active {
    display: block;
    margin: 10px 0
}

.advertising.advertising-filter {
    display: block;
    margin: 0 0 10px
}

.advertising img {
    display: block;
    width: 100%
}

@media only screen and (max-width:320px) {
    .label-pbox span {
        display: none
    }
    .label-pbox span:first-child {
        display: block
    }
}

@media only screen and (max-width:375px) {
    .label-pbox span:nth-child(3) {
        display: none
    }
}

.guide-brand-list,
.guide-price-box {
    display: none;
    background-color: #fff;
    margin-bottom: 10px
}

.guide-brand-list.active,
.guide-price-box.active {
    display: block
}

.guide-price-box {
    padding-bottom: 20px
}

.hot-rank-title {
    padding: 0 16px;
    font-size: 16px;
    color: #495056;
    line-height: 50px
}

.hot-rank-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px 0 6px
}

.hot-rank-list li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 1%;
    margin-left: 10px
}

.hot-car-info {
    position: relative;
    display: block;
    padding-top: 11px;
    padding-bottom: 7px;
    text-align: center;
    box-shadow: 0 1px 2px 0 #e6e6e6;
    border-radius: 2px
}

.hot-car-info:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border: 1px solid #f3f5f8;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-transform: scale(.5);
    Transform: scale(.5, .5)
}

.hot-car-img {
    display: block;
    width: 75px;
    height: 50px;
    margin: 0 auto
}

.hot-rank-list .iconbg {
    position: absolute;
    top: 0;
    left: 6px;
    width: 20px;
    height: 28px
}

.icon-hot-rank01 {
    background-position: -21px -187px
}

.icon-hot-rank02 {
    background-position: -42px -187px
}

.icon-hot-rank03 {
    background-position: -63px -187px
}

.hot-car-name {
    padding: 3px 5px 0;
    color: #495056;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.hot-car-price {
    margin-top: -2px;
    font-size: 16px;
    color: #f56539
}

.guide-brand-list {
    width: 100%
}

.guide-brand-list li {
    position: relative;
    float: left;
    width: 25%
}

.guide-brand-list li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 10px;
    background-color: #e6e6e6;
    margin-top: -5px
}

.guide-brand-list li a {
    display: block;
    color: #252825;
    padding: 0 8px;
    line-height: 41px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.guide-brand-list li:last-child:after,
.guide-brand-list li:nth-child(4):after {
    background-color: #fff
}

.brand-list-more i {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 3px;
    border: 1px solid #22ac38;
    border-radius: 50%
}

.brand-list-more i:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: 1px solid #22ac38;
    border-left: 1px solid #22ac38;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}