body {
	min-width:1190px;
	font-family:Microsoft Yahei,arial,'sans-serif'
}
input::-moz-placeholder {
	color:#999
}
input::-webkit-input-placeholder {
	color:#999
}
#search_keyword:-ms-input-placeholder {
	color:#999
}
input.placeholder {
	color:#999
}
.fc-org {
	color:#f60
}
.w {
	width:1190px;
	margin:0 auto
}
.active .choose-city i,.call-back,.choose-city i,.close-box,.close-side,.ewm-app,.ewm-wx,.fb-btn,.footer-logo,.hot-phone i,.logo,.open-box,.totop {
	background-repeat:no-repeat;
	/*background-image:url(//sta.guazistatic.com/c2c_web/global-3.eec70361a72926654002776168a54cb7.png)*/
}
.header {
	background:#fff
}
.hd-top {
	width:1190px;
	height:85px;
	margin:0 auto
}
.logo {
	display:block;
	float:left;
	width:256px;
	height:85px;
	background-position:0 0;
	text-indent:-9999px;
	overflow:hidden
}
.c2city {
	margin:25px 0 0 30px;
	display:inline-block;
	position:relative;
	z-index:20;
	float:left;
	_zoom:1
}
.active .choose-city {
	border-radius:0;
	border-top-left-radius:5px;
	border-top-right-radius:5px
}
.choose-city {
	background:#fff;
	padding:0 15px;
	height:34px;
	line-height:34px;
	display:inline-block;
	position:relative;
	border:1px solid #e7e7e7;
	border-radius:5px
}
.choose-city:hover {
	text-decoration:none
}
.choose-city span {
	color:#000;
	font-size:14px
}
.choose-city i {
	display:inline-block;
	vertical-align:middle;
	width:12px;
	height:8px;
	margin-left:12px;
	background-position:0 -100px;
	_line-height:8px
}
.active .choose-city i {
	background-position:-15px -100px
}
.active .maskline {
	display:block
}
.maskline {
	left:1px;
	right:1px;
	z-index:21;
	height:1px;
	line-height:1px;
	font-size:1px
}
.city-box,.maskline {
	position:absolute;
	top:35px;
	background:#fff;
	display:none
}
.city-box {
	z-index:20;
	left:0;
	border:1px solid #e7e7e7;
	width:338px;
	font-family:Microsoft YaHei
}
.active .city-box {
	display:block
}
.all-city {
	padding:15px 0 0 15px;
	height:465px;
	overflow:auto
}
.all-city dl {
	_zoom:1;
	padding-bottom:7px;
	overflow:hidden
}
.all-city dt {
	width:30px;
	margin-right:6px;
	color:#22ac38
}
.all-city dd,.all-city dt {
	float:left;
	line-height:18px
}
.all-city dd {
	width:265px
}
.all-city dd a {
	display:inline-block;
	height:18px;
	padding:0 3px;
	color:#333;
	margin:0 5px 7px
}
.all-city dd a.on,.all-city dd a:hover {
	color:#fff;
	text-decoration:none;
	background:#22ac38
}
.city-line {
	height:3px;
	line-height:0;
	font-size:0;
	margin:0 0 13px;
	border-bottom:1px solid #e7e7e7;
	_zoom:1
}
.more-city {
	height:32px;
	line-height:32px;
	border-top:1px solid #e7e7e7;
	color:#b8b8b8;
	padding-left:15px
}
.uc {
	float:right;
	padding:0 8px 0 17px;
	margin:27px 0 0 23px;
	border-left:1px solid #d4d4d4
}
.uc,.uc a {
	height:30px
}
.uc a {
	position:relative;
	z-index:100;
	display:inline-block;
	line-height:30px;
	padding-left:33px;
	background:url(//sta.guazistatic.com/c2c_web/icon.d3813e23be57cce3130fca2dd7182c11.png) no-repeat left 3px;
	font-size:14px;
	color:#2e2e2e
}
.uc a:hover {
	text-decoration:none;
	color:#2e2e2e
}
.app-guide {
	display:none;
	width:390px;
	height:160px;
	padding:25px 25px 25px 0;
	background:#e7f1e8
}
.uc .active .app-guide {
	position:absolute;
	top:58px;
	right:0;
	display:block
}
.guide-ewm {
	float:right;
	width:158px;
	height:158px;
	border:1px solid #d4d6d5
}
.guide-ewm img {
	display:block;
	width:158px;
	height:158px
}
.guide-txt {
	float:right;
	width:225px
}
.guide-txt-1 {
	font-size:18px;
	color:#22ac38;
	text-align:center;
	line-height:46px;
	font-weight:700
}
.guide-txt-2 {
	font-size:14px;
	color:#666;
	height:26px;
	line-height:26px;
	padding-left:28px;
	margin-left:45px;
	background:url(//sta.guazistatic.com/c2c_web/icon.d3813e23be57cce3130fca2dd7182c11.png) no-repeat left -26px
}
.search-box {
	position:relative;
	z-index:20;
	float:right;
	width:328px;
	height:36px;
	padding:25px 95px 0 0
}
.search-input {
	float:left;
	width:244px;
	height:34px;
	line-height:34px;
	padding:0 10px;
	border:1px solid #22ac38;
	border-right:none;
	border-radius:5px;
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
.search-btn,.search-input {
	font-family:Microsoft YaHei;
	font-size:14px
}
.search-btn {
	float:right;
	width:63px;
	height:36px;
	color:#fff;
	background:#22ac38;
	border:none;
	border-radius:5px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	cursor:pointer
}
.search-btn:hover {
	background:#179500
}
body .gj_sys_autoc_rs {
	border-radius:5px;
	padding:5px 0
}
body .gj_sys_autoc_rs .hot-tip {
	color:#22ac38;
	display:block;
	cursor:default
}
body .gj_sys_autoc_rs ul {
	padding:0
}
body .gj_sys_autoc_rs ul li {
	font-size:14px;
	height:30px;
	line-height:30px;
	text-indent:10px;
	padding:0;
	color:#666
}
body .gj_sys_autoc_ov {
	background:#ffe4bc
}
body .gj_sys_autoc_ov span {
	color:#22ac38;
	background:#fff
}
.hot-phone {
	float:right;
	height:30px;
	line-height:30px;
	font-size:20px;
	margin-top:27px;
	color:#22ac38;
	font-weight:700
}
.hot-phone i {
	display:block;
	width:30px;
	height:30px;
	margin-right:5px;
	float:left;
	background-position:-30px -100px
}
.nav {
	height:46px;
	line-height:46px;
	background:#22ac38
}
.nav a {
	display:inline-block;
	font-size:16px;
	padding:0 30px;
	color:#fff
}
.nav a.active,.nav a:hover {
	text-decoration:none;
	background:#179500;
	color:#fff
}
.app-web {
	position:relative
}
.app-web:hover .app-guide {
	display:block;
	position:absolute;
	top:46px;
	right:0;
	z-index:100
}
.side-bar {
	position:fixed;
	z-index:999;
	bottom:0;
	right:10px;
	_position:absolute;
	_top:expression(documentElement.scrollTop+document.documentElement.clientHeight - 90 + "px")
}
.side-bar a {
	display:block;
	height:44px
}
.totop {
	width:44px;
	background-position:0 -145px
}
.totop:hover {
	background-position:-45px -145px
}
.ewm-app,.ewm-wx,.fb-btn {
	font-family:simhei;
	color:#e7ffe9;
	line-height:44px
}
.ewm-wx {
	position:absolute;
	top:0;
	left:-73px;
	width:72px;
	background-position:-191px -200px;
	text-indent:33px
}
.ewm-wx:hover {
	background-position:-191px -245px;
	color:#e7ffe9;
	text-decoration:none
}
.ewm-app {
	position:absolute;
	top:0;
	left:-146px;
	width:72px;
	background-position:-118px -200px;
	text-indent:40px
}
.ewm-app:hover {
	background-position:-118px -245px;
	color:#e7ffe9;
	text-decoration:none
}
.fb-btn {
	position:absolute;
	top:0;
	left:-219px;
	width:72px;
	background-position:-45px -200px;
	text-indent:42px
}
.fb-btn:hover {
	background-position:-45px -245px;
	color:#e7ffe9;
	text-decoration:none
}
.call-back {
	position:absolute;
	top:0;
	left:-264px;
	width:44px;
	background-position:0 -200px
}
.call-back:hover {
	background-position:0 -245px
}
.ewm-box {
	display:none
}
.ewm-app.active .ewm-box,.ewm-wx.active .ewm-box {
	display:block;
	position:absolute;
	top:-173px;
	left:-44px;
	width:158px;
	height:158px;
	background:#fff;
	border:1px solid #22ac38
}
.ewm-wx.active .ewm-box {
	left:-88px
}
.ewm-box img {
	display:block;
	width:158px;
	height:158px
}
.ewm-box i {
	bottom:-22px;
	border-color:#22ac38 transparent transparent
}
.ewm-box em,.ewm-box i {
	position:absolute;
	left:72px;
	display:block;
	_display:none;
	width:0;
	height:0;
	border-style:solid dashed dashed;
	border-width:11px 7px
}
.ewm-box em {
	bottom:-21px;
	border-color:#fff transparent transparent
}
.ewm-wx .ewm-box em,.ewm-wx .ewm-box i {
	left:115px
}
.close-side {
	position:absolute;
	top:-57px;
	right:0;
	width:44px;
	background-position:-109px -145px
}
.close-side:hover {
	background-position:-109px -100px
}
.open-side {
	background-position:0 -290px
}
.open-side:hover {
	background-position:-45px -290px
}
.call-back-box {
	position:absolute;
	top:-57px;
	right:44px;
	width:248px;
	height:28px;
	padding:8px;
	background:#22ac38
}
.call-back-input {
	float:left;
	width:160px;
	height:18px;
	line-height:18px;
	padding:5px;
	color:#333;
	background:#fff;
	border:none
}
.call-back-btn,.call-back-input {
	font-family:microsoft yahei;
	font-size:14px
}
.call-back-btn {
	float:right;
	width:70px;
	height:28px;
	padding:0;
	background:#22ac38;
	border:1px solid #fff;
	color:#fff;
	cursor:pointer
}
.call-back-btn:hover {
	background:#007130
}
.icon-arr {
	position:absolute;
	bottom:-22px;
	left:22px;
	display:block;
	_display:none;
	width:0;
	height:0;
	border-color:#22ac38 transparent transparent;
	border-style:solid dashed dashed;
	border-width:11px 7px
}
.call-back-tip {
	position:absolute;
	top:-27px;
	left:0;
	width:306px;
	height:26px;
	line-height:26px;
	color:red;
	text-indent:9px;
	background:#fff;
	border:1px solid red;
	border-bottom:none
}
.list-bigimg {
	margin-right:-10px
}
.list-bigimg li {
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	_display:inline;
	position:relative;
	z-index:2
}
.list-infoBox {
	height:290px;
	width:290px;
	background:#fff;
	position:relative;
	z-index:5;
	border:2px solid #f5f5f5
}
.list-infoBox:hover {
	border:2px solid #22ac38
}
.list-infoBox p {
	padding:0 10px
}
.remote {
	position:absolute;
	top:176px;
	right:0;
	display:inline-block;
	height:18px;
	line-height:18px;
	font-size:12px;
	color:#fff;
	padding:0 3px;
	background:rgba(0,0,0,.5)
}
.info-title em {
	color:#e30
}
.infoBox {
	font-size:16px;
	line-height:1em;
	margin:12px 0 8px;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	width:270px;
	white-space:nowrap
}
.info-title {
	color:#000
}
.info-title:hover {
	color:#e30;
	text-decoration:none
}
.imgtype img {
	vertical-align:top
}
.list-infoBox .fc-gray {
	color:#999
}
.priType {
	font-size:22px;
	color:#ff7e00
}
.priType-s {
	margin-top:3px
}
.priType-s s {
	color:#999;
	font-size:14px
}
.priType-s span {
	margin-right:5px
}
.priType-s span.ctag-org {
	line-height:12px;
	padding:0 2px 0 0;
	font-size:12px;
	color:#ff7e00;
	border:1px solid #ff7e00
}
.priType-s span.ctag-org i {
	padding:0 2px 0 1px;
	line-height:12px;
	font-weight:400;
	color:#fff;
	background:#ff7e00;
	margin-right:1px
}
.tag-gray {
	line-height:14px;
	padding:0 1px;
	border:1px solid #999;
	color:#999;
	margin-top:1px
}
.priType-s em,.tag-gray {
	font-size:12px;
	float:right
}
.priType-s em {
	height:16px;
	line-height:16px;
	padding:0 4px;
	color:#fff;
	margin-left:4px;
	*margin-left:2px;
	margin-top:10px
}
.priType-s em.tag-yellow {
	background:#ff9947
}
.priType-s em.tag-green {
	background:#34b869
}
.priType-s em.tag-red {
	background:#ff5b35
}
.sup-green,.sup-red,.sup-yellow {
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	width:44px;
	height:32px;
	padding:6px 0 2px;
	text-align:center;
	color:#fff;
	font-size:12px;
	line-height:16px
}
.sup-yellow {
	background:#ff7e00
}
.sup-green {
	background:#22ac38
}
.sup-red {
	background:#eb6100
}
.sup-green em,.sup-red em,.sup-yellow em {
	position:absolute;
	top:40px;
	left:0;
	display:block;
	width:0;
	height:0;
	border-color:#eb6100 #eb6100 transparent;
	border-style:solid;
	border-width:0 22px 8px
}
.sup-red em {
	border-color:#eb6100 #eb6100 transparent
}
.sup-yellow em {
	border-color:#ff7e00 #ff7e00 transparent
}
.sup-green em {
	border-color:#22ac38 #22ac38 transparent
}
.fb-pop {
	width:550px;
	height:405px;
	padding:20px 20px 0;
	background:#fff
}
.fb-txt {
	height:36px;
	line-height:36px;
	font-size:16px;
	color:#333;
	padding-bottom:10px
}
.fb-ta {
	display:block;
	width:528px;
	padding:7px 10px;
	border:1px solid #d1d1d1;
	font-size:14px;
	color:#333;
	font-family:Microsoft YaHei;
	resize:none
}
.fb-ta-1 {
	height:184px;
	margin-bottom:20px
}
.fb-ta-2 {
	height:44px
}
.ta-error {
	color:#f60;
	line-height:20px;
	height:20px
}
.fb-submit {
	display:block;
	width:130px;
	height:30px;
	background:#fd8000;
	color:#fff;
	font-size:14px;
	border:none;
	cursor:pointer;
	font-family:Microsoft YaHei;
	margin:0 auto
}
.fb-submit:hover {
	background:#fd6000
}
.fb-suc-txt {
	padding:125px 0 160px;
	text-align:center;
	font-size:20px;
	color:#666;
	line-height:32px
}
.cont-find {
	display:block;
	width:130px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background:#fd8000;
	margin:0 auto
}
.cont-find:hover {
	background:#fd6000;
	color:#fff;
	text-decoration:none
}
.crumbs {
	width:1190px;
	margin:0 auto;
	padding-top:20px;
	line-height:22px
}
.crumbs,.crumbs a {
	color:#678fae
}
.crumbs a:hover {
	color:#e30;
	text-decoration:none
}
.crumbs span {
	color:#666
}
