.carlist {
    width: 1220px;
    margin-left: -10px;
    margin-bottom: 20px
}

.carlist li {
    float: left;
    margin-bottom: 10px
}

.carlist li a {
    display: block;
    width: 287px;
    height: 287px;
    padding: 9px 8px;
    border: 1px solid transparent;
    position: relative
}

.carlist img {
    width: 285px;
    height: 190px;
    border: 1px solid #e9e9e9
}

.carlist li a:hover {
    border: 1px solid #e6e6e6;
    color: #495056;
    text-decoration: none;
    box-shadow: 0 0 5px 2px #e6e6e6
}

.carlist li a.car-a .t {
    font-size: 17px;
    color: #495056;
    padding: 1px 0 6px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.carlist li a.car-a .t-i {
    color: #a5abb2;
    font-size: 14px;
    padding-left: 4px;
    padding-bottom: 2px
}

.carlist li a.car-a .t-i .icon-pad {
    display: inline-block;
    font-size: 12px;
    width: 14px;
    text-align: center;
    vertical-align: top;
    line-height: 20px
}

.carlist li .t-price {
    font-size: 20px;
    color: #f95523;
    padding-left: 4px
}

.t-price {
    height: 30px;
    overflow: hidden
}

.t-price p {
    float: left;
    line-height: 30px
}

.t-price em,
.t-price span {
    font-size: 14px
}

.t-price em {
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    color: #a5abb2
}

.t-price em.line-through {
    text-decoration: line-through
}

.t-price i {
    float: right;
    width: 44px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    margin: 5px 0 0 5px
}

.t-price i.i-green {
    color: #22ac38;
    border: 1px solid #22ac38
}

.t-price i.i-orange {
    color: #fd651d;
    border: 1px solid #fd651d
}

.t-price i.i-red {
    color: #ff0e0e;
    border: 1px solid #ff0e0e
}

.t-price i.i-blue {
    color: #4084ea;
    border: 1px solid #4084ea
}

.icon-new,
.icon-sale {
    position: absolute;
    top: 5px;
    left: 20px;
    display: block;
    width: 60px;
    height: 55px;
    font-size: 16px;
    text-align: center;
    color: #fff
}

.icon-sale {
    background-position: 0 -70px;
    height: 40px;
    line-height: 20px;
    padding: 5px 0 10px
}

.icon-sale span {
    font-size: 14px
}

.icon-new {
    background-position: 0 -130px;
    line-height: 48px
}

.transfer-city {
    position: absolute;
    right: 9px;
    top: 178px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
    background: #4b4c4b;
    background: rgba(0, 0, 0, .5);
    font-size: 14px;
    color: #fff
}

.loading {
    height: 36px;
    line-height: 36px;
    padding: 10px 0 20px;
    font-size: 14px;
    color: #a5abb2;
    text-align: center;
    background: url(//sta.guazistatic.com/c2c_web/loading.3e26b40fa76d3d7cd02322520d6f55f3.gif) no-repeat top
}

.pageLink {
    margin: 0 0 30px;
    clear: both;
    text-align: center
}

.pageLink li {
    display: inline;
    margin: 0 0 0 5px
}

.pageLink li a {
    background: #fafafa;
    border: 1px solid #e6e6e6;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #495056;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    font-weight: 400
}

.pageLink li a:hover {
    background: #22ac38;
    border-color: #22ac38;
    color: #fff;
    text-decoration: none
}

.pageLink li.link-on a {
    border: 1px solid #fff;
    background: #fff;
    color: #22ac38
}

.pageLink li a span {
    background: none;
    border: none;
    display: inline-block
}

.pageLink li a.next,
.pageLink li a.prev {
    width: 83px
}

.pageLink li a.next em {
    margin-left: 6px
}

.pageLink li a.next em,
.pageLink li a.prev em {
    font-family: simsun;
    font-size: 15px;
    font-weight: 700
}

.pageLink li a.prev em {
    margin-right: 6px
}

.pageLink li.point a,
.pageLink li.point a:hover {
    border: none;
    background: none;
    color: #495056
}