.overlay {
  position: fixed;
  background: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  opacity: 0.63;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
