@charset "utf-8";
/* CSS Document */
.Buy_Position{ color:#000; font-size:14px; line-height:40px;}
.Buy_Position a{color:#000;}
.Buy_Position a:hover{color:#f95201;}
.BuyChoice_title{ background:#f4f4f4; height:40px; line-height:40px;padding:0 10px; color:#9d9ea2; font-size:14px;}
.BuyChoice_title span{padding:2px 10px; color:#fb5200;border:1px solid #fb5200; margin-left:8px;}
.BuyChoice_title span a{ color:#fb5200;}
.BuyChoice_Clear{ background:url(../images/BuyChoice_Clear.jpg) no-repeat left center;margin-left:20px;color:#000; padding-left:25px; display:inline-block;}
.BuyChoice_List li .BuyChoice_More a:hover,.BuyChoice_Clear:hover{color:#fb5200;}
.BuyChoice_Save{ background:url(../images/BuyChoice_Save.jpg) no-repeat left center; padding-left:18px; float:right; cursor:pointer;color:#40474f;}
.BuyChoice_List li{ border-bottom:1px dashed #ededed; line-height:36px; position:relative; padding-right:80px; color:#9d9ea2; font-size:14px; }
.BuyChoice_List li a{ padding:5px;margin-right:22px; color:#323232; white-space:nowrap;}
.BuyChoice_List li a:hover{color:#fb5200;}
.BuyChoice_List li span{ padding-right:15px;}
.BuyChoice_List li a input{ background: #fff; border:1px solid #414850; height:19px; width:32px;}
.BuyChoice_List li a.BuyAct{ background:#fd5100; color:#fff;}

.BuyChoice_More{position:absolute; right:13px; top:0; height:36px; lin-height:36px;}
.BuyChoice_List li .BuyChoice_More a{ background:url(../images/BuyChoice_More.jpg) no-repeat 34px center;padding:0 15px 0 3px;color:#323232; border:1px solid #c4c4c6;}
.BuyChoice_Height{ height:36px; overflow:hidden;}
.BuyChoice_List li.Buymore_List em{ position:relative; z-index:1; cursor:pointer;display:inline-block;}
.BuyChoice_List li.Buymore_List em span{padding:2px 10px; color:#fb5200;border:1px solid #fb5200; margin-right:8px; font-style:normal;}
.Buymore_Main{ position:absolute; border:1px solid #fb5200; top:28px; z-index:5; background:#fff;display:none; left:0;} 
.BuyChoice_List li.Buymore_List .Buymore_Main a{margin:0;padding:2px 10px; display:block;}
.Buymore_Dingy{ position:absolute;right:13px; top:0; height:36px; lin-height:36px;}
.BuyChoice_List li.Buymore_List .Buymore_Dingy a{ background:#fc5300;padding:2px 15px 2px 3px;color:#fff;} 

.BuyCar_List{ overflow:hidden; width:1000px;}
.BuyCar_List ul{ width:1033px;}
.BuyCar_List li{width:225px; height:167px; overflow:hidden; padding:15px 33px 16px 0; float:left;}
.BuyCar_List li img{width:225px; height:167px;}
/*页码*/
.BuyCar_Pum{ text-align:center;}
.BuyCar_Pum p{ overflow:hidden; width:350px; margin:0 auto;}
.BuyCar_Pum a{color:#323232; height:30px; width:30px; text-align:center; line-height:30px; border:1px solid #cacaca; display:inline-block; float:left; margin-right:5px; font-size:14px;}
.BuyCar_Pum a.BuyCar_Act{ background:#e14900; border:1px solid #e14900; color:#fff; }
.BuyCar_Pum a:hover{color:#e14900;}
.BuyCar_Pum a.prev{ background:url(../images/BuyCar_Pumprev.jpg) no-repeat center center;}
.BuyCar_Pum a.next{ background:url(../images/BuyCar_Pumnext.jpg) no-repeat center center;}